<div class = 'container'>
<h1>New Task</h1>

<hr>

    <ul class='breadcrumb'>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to @project.name, project_path(@project) %></li>
      <li><%= link_to 'Tasks', project_tasks_path %></li>
      <li class="active">New</li>
    </ul>
</div>

<br>
<%= render partial: "form", locals: { name_of_button: "Create"} %>
