<div class= 'container'>
  <% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
    <h1><%= @task.description %></h1>


<%= link_to 'Edit', edit_task_path %> |
<%= link_to 'Back', tasks_path %>
</div>
