<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
  </div>
</nav>

  <div class="container">

    <div class="page-header">
      <h1>Terms
      </h1>
    </div>

    <p>gCamp is not responsible for anything, unless it's positive</p>

    <br/>

    <p>You may not take us to court. For anything. Ever.</p>

    <br/>
    <br/>

    <div id="footer">
      <dl>
        <hr></hr>
        <u><%= link_to "Terms", terms_path() %></u>
        <u><%= link_to "About", about_path() %></u>
        </div class="container-fluid"
      </dl>
    </div>
  </div>
