
<div class = 'container'>
  <div class = 'page-header'>
    <%= link_to 'New User', new_user_path, class: "btn btn-info pull-right" %>
    <h1>Users</h1>
  </div>


<table class= "table">
  <thead>
      <tr>
        <div class= "col-sm-1">
          <th>Name</th>
          <th colspan= 2>Email</th>
      </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class: 'col-md-3'><%= link_to user.first_name + " " + user.last_name, user_path(user) %></td>
        <td>
        <% if current_user.co_member?(user) || user == current_user || current_user.admin  %>
          <%= mail_to user.email %>
        <% end %>
        </td>
        <td class: 'col-md-1'>
        <% if user == current_user || current_user.admin %>
          <%= link_to 'Edit', edit_user_path(user) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
