
<div class = 'container'>
  <div class = 'page-header'>
    <%= link_to 'New User', new_user_path, class: "btn btn-info pull-right" %>
    <h1>Users</h1>
  </div>


<table class= "table">
  <thead>
      <tr>
        <div class= "col-sm-1">
          <td><strong>Name</strong></td>
        </div>
        <div class= "col-sm-3">
          <td><td><strong>Email</strong></td></td>
        </div>
      </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class= "col-sm-3">
         <%= link_to user.first_name + " " + user.last_name, user_path(user) %></td>
           <td class= "col-sm-1">
            </td>
              <td><% if user == current_user %>
          <div class="pull-right">
               <%= mail_to user.email %>
               <% elsif user == current_user %>
              </td>
               <%= link_to 'Edit', edit_user_path(user) %>
           </div>
           <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
