
<div class= 'container'>
      <h1>New Project</h1>

    <hr>



  <%= render partial: "form", locals: { name_of_button: "Create"} %>
  <%= form_for @project, html: {class: 'form-horizontal'} do |f| %>
  <% end %>
